body {
    white; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(white, rgb(255, 190, 179), rgb(255, 99, 71)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white, rgb(255, 190, 179), rgb(255, 99, 71)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white, rgb(255, 190, 179), rgb(255, 99, 71)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, rgb(255, 190, 179), rgb(255, 99, 71)); /* Standard syntax */
    /* */
}

.Title {
  margin-top: 60px;
  font-family: Lobster, fantasy;
  font-size: 72;
  text-align: center;
  color: rgb(255, 57, 25);
  text-shadow: 2px 1px 0px black;
}

.footer {
  text-align: center;
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

a {
  color: lightgrey;
}

.box1 {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  display: flex;
}

.box2 {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 30px;
}

.setTime {
  font-family: monospace;
  font-size: 42;
  height: auto;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  flex: 1;
}
.setBreak {
  font-family: monospace;
  font-size: 42;
  height: auto;
  margin-left: 15px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.upWork {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
  margin: auto;
}

.upBreak {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
  margin: auto;
}

.downWork {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid black;
  margin: auto;
}

.downBreak {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid black;
  margin: auto;
}

button {
  padding: 6px;
  margin: 20px;
  font-size: 30;
  background-color: rgb(255, 99, 71);
  border-radius: 10px;
  border: 2px solid darkred;
  font-family: monospace;
}

.workTime {
    display: inline-block;
    padding: 5px;
}

.breakTime {
    display: inline-block;
    padding: 5px;
}

.progress {
            height: 50%;
            width: auto;
            margin: auto;
            margin-bottom: 30px;
            margin-top: 10px;
            font-size: 48;
            font-family: monospace;
            }
            .progress > svg {
                height: 100%;
            }
